<footer>
    <div id="divFooter1">
        <ul>
            <li>Sobre nosotros</li>
            <li>Atención al cliente</li>
            <li>Contacto</li>
            <li>FAQs</li>
        </ul>
        <h2><u>MarketArt</u></h2>
        <ul>
            <li>Aviso legal</li>
            <li>Política de privacidad</li>
            <li>Políticas de cookies</li>
            <li>Política de calidad</li>
        </ul>
    </div>

    <div id="divFooter2">
        <label for="subsNewsletter">Suscríbete para estar al día de nuestras últimas ofertas y novedades:</label>
        <input id="subsNewsletter" type="text" placeholder="Introduce tu email">
    </div>
    <div id="divFooter3">
        <p>2023, MarketArt <sup>&#169;</sup> | Todos los derechos reservados</p>
    </div>
</footer>