#user-tickets {

    >p {
        text-wrap: nowrap;
    }

    >div:first-child {
        grid-column: 1;

        ul {
            padding: 0.5rem 0;
            margin: 0;
            list-style-type: none;

            li {
                cursor: pointer;
                padding: 0.3rem;
                outline: none;

                &:hover {
                    outline: 2px solid gray;
                }

                &.active {
                    outline: 2px solid gray;
                    font-weight: bold;
                }

                &.resolved {
                    background-color: lightgreen;
                    background: rgba($color: lightgreen, $alpha: 0.4);
                }

                &.not-resolved {
                    background: rgba($color: lightcoral, $alpha: 0.4);
                }
            }
        }
    }

    >div:last-child {
        grid-column: 2;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;

        >div:nth-child(2) {

            >p {
                text-align: end;
            }
        }
    }
}