<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/detailsOutput.css">
    <script type="text/javascript" src="../js/appDetails.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
    <!--Google Fonts-->
    <title>Detalle MarketArt</title>
</head>

<body>
    <main>
        <div id="back-button" title="Volver al porfolio">
            <a href="../index.html"><span class="material-symbols-outlined">arrow_back</span></a>
        </div>
        <section id="hero-detail" class="flex flex-col items-center justify-items-center gap-10 lg:grid lg:grid-cols-[1fr_1fr_1fr] lg:grid-rows-[auto] lg:gap-0">
            <aside class="flex justify-center items-center">
                <div id="technologies" class="flex flex-col w-[90%]">
                    <h3><strong>Tecnologías utilizadas:</strong></h3>
                    <ul>
                        <li>Angular</li>
                        <li>Scss</li>
                        <li>TypeScript</li>
                        <li>Node.js</li>
                        <li>MySQL</li>
                    </ul>
                </div>
            </aside>

            <div id="img-and-button">
                <img src="../assets/images/screenshots/captura-marketart.jpg">
                <a href="https://github.com/sergionago/porfolio/tree/main/MarketArt" target="_blank">Enlace repositorio</a>
            </div>

            <aside>
                <div id="functionalities">
                    <h3 id="paragraph-functionalities"> <strong>Funcionalidad principal</strong></h3>
                    <ul>
                        <li>El usuario puede navegar entre las distintas categorías de productos.</li>
                        <li>El usuario puede ver cada producto en detalle, así como elegir la cantidad que desea y
                            añadirlos al carrito. </li>
                        <li>Sistema de carrito y posibilidad de realizar pedidos.</li>
                        <li>Sistema de registro, inicio de sesión y área de cliente.</li>
                    </ul>
                </div>
            </aside>
        </section>
    </main>
</body>

</html>
