<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/detailsOutput.css">
    <script type="text/javascript" src="../js/appDetails.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
    <!--Google Fonts-->
    <title>Detalle HostHeaven</title>
</head>

<body>
    <main>
        <section id="hero-detail">
            <div id="back-button" title="Volver al porfolio">
                <a href="../index.html"><span class="material-symbols-outlined">arrow_back</span></a>
            </div>
            <aside>
                <div id="technologies">
                    <h3><strong>Tecnologías utilizadas:</strong></h3>
                    <ul>
                        <li>React</li>
                        <li>Scss</li>
                        <li>TypeScript</li>
                        <li>Spring</li>
                        <li>Docker</li>
                        <li>PostgreSQL</li>
                    </ul>
                </div>
            </aside>

            <div id="img-and-button">
                <img src="../assets/images/screenshots/captura-hostheaven.png">
                <div id="deployed-project">
                    <a href="https://hostheaven.netlify.app/" target="_blank">Enlace despliegue</a>
                    <a href="https://github.com/sergionago/porfolio/tree/main/HostHeaven" target="_blank">Enlace repositorio</a>
                </div>
            </div>

            <aside>
                <div id="functionalities">
                    <h3 id="paragraph-functionalities"> <strong>Funcionalidad principal</strong></h3>
                    <ul>
                        <li>Contratar y personalizar paquetes de hosting.</li>
                        <li>Registro, inicio de sesión y acceso al área de cliente. </li>
                        <li>Ver y editar sus datos personales y los del servicio contratado.</li>
                        <li>Sistema de envío de tickets y correo funcional.</li>
                    </ul>
                </div>
            </aside>
        </section>
    </main>
</body>

</html>