<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/detailsOutput.css">
    <script type="text/javascript" src="../js/appDetails.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
    <!--Google Fonts-->
    <title>Detalle Gesgas</title>
</head>

<body>
    <main>
        <div id="back-button" title="Volver al porfolio">
            <a href="../index.html"><span class="material-symbols-outlined">arrow_back</span></a>
        </div>
        <section id="hero-detail" class="flex flex-col items-center justify-items-center gap-10 lg:grid lg:grid-cols-[1fr_1fr_1fr] lg:grid-rows-[auto] lg:gap-0">
            <aside class="flex justify-center items-center">
                <div id="technologies" class="flex flex-col w-[90%]">
                    <h3><strong>Tecnologías utilizadas:</strong></h3>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>Chart.js</li>
                        <li>PHP</li>
                        <li>MySQL</li>
                    </ul>
                </div>
            </aside>

            <div id="img-and-button">
                <img src="../assets/images/screenshots/captura-gesgas.jpg">
                <a href="https://github.com/sergionago/porfolio/tree/main/GesGas" target="_blank">Enlace repositorio</a>
            </div>

            <aside>
                <div id="functionalities">
                    <h3 id="paragraph-functionalities"> <strong>Funcionalidad principal</strong></h3>
                    <ul>
                        <li>Gráficas de barras que muestran los gastos del usuario a lo largo del tiempo.</li>
                        <li>El usuario puede insertar nuevos gastos, añadiendo distinta información.
                            También tiene la capacidad de visualizar esos gastos en una tabla y eliminarlos si lo
                            desea.</li>
                        <li>Gráficas circulares en las que el usuario puede visualizar las categorías con sus gastos
                            asociados, seleccionando un año o un mes determinado.</li>
                        <li>El usuario puede generar un informe y descargarlo en PDF.</li>
                    </ul>
                </div>
            </aside>
        </section>
    </main>
</body>

</html>