<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/detailsOutput.css">
    <script type="text/javascript" src="../js/appDetails.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
    <!--Google Fonts-->
    <title>Detalle TaxiMálaga</title>
</head>

<body>
    <main>
        <section id="hero-detail">
            <div id="back-button" title="Volver al porfolio">
                <a href="../index.html"><span class="material-symbols-outlined">arrow_back</span></a>
            </div>
            <aside>
                <div id="technologies">
                    <h3><strong>Tecnologías utilizadas:</strong></h3>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>Leaflet</li>
                    </ul>
                </div>
            </aside>

            <div id="img-and-button">
                <img src="../assets/images/screenshots/captura-taxi.png">
                <a href="https://github.com/sergionago/porfolio/tree/main/TaxiMalaga" target="_blank">Enlace
                    repositorio</a>
            </div>

            <aside>
                <div id="functionalities">
                    <h3 id="paragraph-functionalities"> <strong>Funcionalidad principal</strong></h3>
                    <ul>
                        <li>Muestra iconos en el mapa según la ubicación de las paradas de taxis de Málaga centro.</li>
                        <li>El usuario puede ver información en detalle sobre la parada en cuestión.</li>
                        <li>La información se obtiene a partir de un archivo JSON.</li>
                    </ul>
                </div>
            </aside>
        </section>
    </main>
</body>

</html>