<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/detailsOutput.css">
    <script type="text/javascript" src="../js/appDetails.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
    <!--Google Fonts-->
    <title>Detalle CookingTime</title>
</head>

<body>
    <main>
        <div id="back-button" title="Volver al porfolio">
            <a href="../index.html"><span class="material-symbols-outlined">arrow_back</span></a>
        </div>
        <section id="hero-detail" class="flex flex-col items-center justify-items-center gap-10 lg:grid lg:grid-cols-[1fr_1fr_1fr] lg:grid-rows-[auto] lg:gap-0">
            <aside class="flex justify-center items-center">
                <div id="technologies" class="flex flex-col w-[90%]">
                    <h3><strong>Tecnologías utilizadas:</strong></h3>
                    <ul>
                        <li>Next.js</li>
                        <li>TypeScript</li>
                        <li>Tailwind</li>
                        <li>Node + Express</li>
                        <li>MongoDB</li>
                        <li>PWA</li>
                    </ul>
                </div>
            </aside>

            <div id="img-and-button">
                <img src="../assets/images/screenshots/captura-cookingtime.png">
                <div id="deployed-project">
                    <a href="https://porfolio-omega-red.vercel.app/" target="_blank">Enlace despliegue</a>
                    <a href="https://github.com/sergionago/porfolio/tree/main/CookingTime" target="_blank">Enlace repositorio</a>
                </div>
            </div>

            <aside>
                <div id="functionalities">
                    <h3 id="paragraph-functionalities"> <strong>Funcionalidad principal</strong></h3>
                    <ul>
                        <li>Registro e inicio de sesión.</li>
                        <li>Funcionalidad para añadir, buscar, ver, editar y eliminar recetas.</li>
                        <li>El usuario puede instalar la aplicación y utilizarla sin conexión.</li>
                    </ul>
                </div>
            </aside>
        </section>
    </main>
</body>

</html>