<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/detailsOutput.css">
    <script type="text/javascript" src="../js/appDetails.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
    <!--Google Fonts-->
    <title>Detalle GeoCar</title>
</head>

<body>
    <main>
        <section id="hero-detail">
            <div id="back-button" title="Volver al porfolio">
                <a href="../index.html"><span class="material-symbols-outlined">arrow_back</span></a>
            </div>
            <aside>
                <div>
                    <h3><strong>Tecnologías utilizadas:</strong></h3>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Bootstrap</li>
                        <li>JavaScript</li>
                        <li>Leaflet</li>
                        <li>Turf</li>
                    </ul>
                </div>
            </aside>

            <div id="img-and-button">
                <img src="../assets/images/screenshots/captura-geocar.png">
                <a href="https://github.com/sergionago/porfolio/tree/main/GeoCar" target="_blank">Enlace repositorio</a>
            </div>

            <aside>
                <div id="functionalities">
                    <h3 id="paragraph-functionalities"> <strong>Funcionalidad principal</strong></h3>
                    <ul>
                        <li>Guardar la ubicación actual de su vehículo, la cual se mostrará con un icono en el mapa.</li>
                        <li>El usuario podrá ver el tiempo que ha pasado desde que estacionó y
                            la distancia a la que está, la cual se va actualizando en tiempo real conforme se aleje.
                        </li>
                        <li>Posibilidad de eliminar el icono de su último estacionamiento.</li>
                        <li>Visualizar un historial con las últimas ubicaciones, las cuales se traducen de
                            latitudes y longitudes a direcciones gracias a Turf.</li>
                    </ul>
                </div>
            </aside>
        </section>
    </main>
</body>

</html>