@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family==Montserrat&display=swap');

main {
    width: 100vw;
    height: 100vh;
}

#hero-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    padding: 2rem;
}

@media (min-width:1024px) {
    #hero-detail {
        flex-direction: row;
        gap: 1rem;
    }

}


/*Back button*/
#back-button {
    align-self: baseline;
    width: 11rem;
}

#back-button a {
    display: flex;
    justify-content: center;
    background-color: gainsboro;
    text-decoration: none;
    color: black;
    width: 2.5rem;
    border: 2px solid gray;
    border-radius: 2rem;
}

#back-button a:hover {
    animation: bow 1s ease-out;
}

#back-button a:hover span {
    animation: goBack 0.8s ease-in 0.5s;
}


#back-button a span {
    vertical-align: middle;
}


@keyframes bow {
    0% {
        width: 3rem;
        justify-content: end;
    }

    50% {
        width: 4rem;
        justify-content: end;
    }

    100% {
        width: 2.5rem;
        justify-content: end;
    }
}

@keyframes goBack {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-400%);
    }
}

/*Central image*/
#img-and-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-and-button img {
    width: 90%;
    border: 1px solid burlywood;
    border-radius: 0.2rem;
    margin-bottom: 1rem;
}

#img-and-button a {
    display: block;
    color: black;
    text-decoration: none;
    text-wrap: nowrap;
    padding: 0.5rem;
    text-align: center;
    width: 10rem;
    border: 1px solid black;
    background-color: gainsboro;
    border-radius: 0.5rem;
    transition: width 500ms ease-in-out;
}

#img-and-button a:hover {
    width: 60%;
    background-color: lightcoral;
    color: white;
    transition: width 500ms ease-in-out;
}

#img-and-button #deployed-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    width: 100%;
    justify-content: space-around;
}

@media (min-width:500px) {
    #img-and-button #deployed-project {
        flex-direction: row;
        justify-content: space-around;
    }
}

/*Asides*/
aside>div {
    position: relative;
    z-index: 30;
    background-color: white;
}

aside>div::before {
    content: "";
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    height: 5rem;
    width: 5rem;
    background-color: lightcoral;
    z-index: -1;
}

aside>div::after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    right: -0.5rem;
    height: 5rem;
    width: 5rem;
    background-color: lightcoral;
    z-index: -1;
}

aside>div>h3 {
    margin: 0;
    font-size: 1.2rem;
    padding: 1rem 0.5rem;
    background-color: white;
    text-align: center;
}

aside>div>ul {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin: 0;
    background-color: white;
    list-style-type: disc;
    padding: 1rem 2rem;
}

aside>div>ul>li {
    position: relative;
    width: fit-content;
    z-index: 50;
}

aside>div>ul>li::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: rgb(255, 207, 207);
    transition: width 500ms ease-in-out;
    z-index: -1;
}

aside>div>ul>li:hover::before {
    width: 100%;
    transition: width 500ms ease-in-out;
}

aside:has(#functionalities) {
    width: 80%;
}