main#conditions-page {
    width: 95%;
    margin: 0 auto;

    h2 {
        font-size: 1.5rem;
        font-weight: bold;
        padding: 1rem 0.3rem;
    }

    >img {
        cursor: pointer;
        width: 7rem;
    }

    h3 {
        margin-top: 2rem;
        font-size: 1.1rem;
        padding: 1rem 0.3rem;
        font-weight: bold;
    }

    p {
        margin: 0
    }
}